
.contents{
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 10px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: aqua;
}
.main div{
    padding: 10px;
    border: 1px solid black;
}